# This highlights both concepts -- using a single workflow for multiple triggers
on:
  # It turns from an array of scalars to an array of objects; if you want to configure one, you must configure all (with null)
  workflow_dispatch:
      inputs:
        foobar:
          description: ''
          required: true
          default: 
  pull_request:

jobs:
  log-event:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/upload-artifact@v2
      name: upload artifact
      with:
        name: gha-${{ github.event_name }}.json
        path: ${{ github.event_path }}
  onwfd:
    if: ${{ github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    steps:
      - name:
        run: |
          echo it was a dispatch
          echo ${{ github.event.inputs.foobar }}
          
  onpr:
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    steps:
      - name:
        run: |
          if [[ ${{ github.event_name }} = 'pull_request' ]]; then
            echo hey it is a pr
          fi
