name: scratch manual workflow file

on:
  # push # for gha-local act
  workflow_dispatch:
    inputs:
      email:
        description: 'Email to send to'
        required: true
        default: 'doug@autotiv.com'
      home:
        description: 'location'
        required: false

# static configuration goes here
env:
  codeReviewerEmail: doug@autotiv.com
  codeReviewerGithubName: dougpagani
  productManagerEmail: redstonefreedom@gmail.com
  productManagerGithubName: redstonefreedom@gmail.com
  opsBoardNumber: 406613495

jobs:
  sent_email:
    runs-on: ubuntu-latest
    steps:

    # - name: verify input (for debugging)
    #   run: |
    #     echo ${{ github.event.inputs.email }}

    - name: Get ticket number from branch
      run: |
        echo "::set-output name=ticketNumber::595090142"
        echo "::warning file=changes.test,line=1,col=5::Duplicated Line Warning"
        echo "::warning ::Arbitrary warning"


    # General Message Format Example:
        # Deployment Completed.
        # - app url: https://cwa-ticket-1234.eba-cwuqbgah.us-east-1.elasticbeanstalk.com/
        # - to terminate when review is done: 
        #   - cli: npm run deploy:terminate CWA-ticket-595090142
        #   - gha: go to github actions, and past-in the ticket # from monday.com
        # - guru doc on process: link to page + diagram or whatever for context
        # - monday.com ticket: https://autotiv.monday.com/boards/406613495/pulses/595090142

    - name: Format message for plaintext
      run: |
        cat > plaintext.txt << HERE
        Deployment Completed.
        - app url: https://\${{ '' }}
        - to terminate when review is done: 
          - cli: npm run deploy:terminate CWA-ticket-\${runOutput.ticket-number}
          - gha: go to github actions, and paste-in the ticket-id from monday.com
        - guru doc on process: link to diagram or whatever for context
        - monday.com ticket: https://autotiv.monday.com/boards/${{ env.opsBoardNumber }}/pulses/runOutput.ticket-number
        HERE
    - name: Format message for Email
      run: |
        cat > email.txt << HERE
        <u><i>Deployment Completed.</i></u>
        <br>
          <ul>
          <li><b>app url:</b> https://\${{ '' }}</li>
          <li>to terminate when review is done:</li>
            <ul>
              <li><b>cli</b>: <code>npm run deploy:terminate CWA-ticket-\${runOutput.ticket-number}</code></li>
              <li><b>gha</b>: go to github actions, and paste-in the ticket-id from monday.com</li>
            </ul>
          <li><b>guru doc</b> on process: link to diagram or whatever for context</li>
          <li><b>MDC ticket:</b> https://autotiv.monday.com/boards/${{ env.opsBoardNumber }}/pulses/runOutput.ticket-number</li>
          </ul>
        <br>
        HERE
    - name: Format message for GH-PR
      run: |
        cat > gh-pr.txt << HERE
        _Deployment Completed._ @${{env.codeReviewerGithubName}} @${{env.productManagerGithubName}}
        - **app url:** https://\${{ '' }}
        - to terminate when review is done: 
          - **cli:** \`npm run deploy:terminate CWA-ticket-\`
          - **gha:** go to github actions, and paste-in the ticket-id from monday.com
        - **guru doc** on process: link to diagram or whatever for context
        - **monday.com ticket:** https://autotiv.monday.com/boards/${{ env.opsBoardNumber }}/pulses/runOutput.ticket-number
        HERE
      
    - name: Send mail 
      uses: dawidd6/action-send-mail@v2
      with:
        server_address: smtp.gmail.com
        server_port: 465
        # Key piece for configuring this email:
        # https://support.google.com/accounts/answer/6010255
        username: ${{secrets.MAIL_USERNAME}}
        password: ${{secrets.MAIL_PASSWORD}}
        subject: Github Actions job result
        # Literal body:
        # body: |
        #   Build job of ${{github.repository}} completed successfully!

        #   How you like them apples????
        body: file://email.txt
        # # Read file contents as body:
        # body: file://README.md
        to: doug@autotiv.com,redstonefreedom@gmail.com
        from: Build Jobber # <user@example.com>
        # Optional content type (defaults to text/plain):
        content_type: text/html
        # # Optional attachments:
        # attachments: attachments.zip,git.diff,./dist/static/main.js
