name: scratch manual workflow file

on:
  # push # for gha-local act
  pull_request
  # workflow_dispatch:
  #   inputs:
  #     email:
  #       description: 'Email to send to'
  #       required: true
  #       default: 'doug@autotiv.com'
  #     home:
  #       description: 'location'
  #       required: false

# static configuration goes here
env:
  codeReviewerEmail: doug@autotiv.com
  codeReviewerGithubName: dougpagani
  productManagerEmail: doug@autotiv.com
  productManagerGithubName: dougpagani

  # productManagerEmail: dylan@autotiv.com
  # productManagerGithubName: dylpickles93

  opsBoardNumber: 406613495

jobs:
  sent_email:
    runs-on: ubuntu-latest
    steps:

    # - name: verify input (for debugging)
    #   run: |
    #     echo ${{ github.event.inputs.email }}

    - name: Get ticket number from branch
      id: branch
      run: |

        # probably grab it from a github internal variable, or envar
        # echo 734285508-header-updates | \egrep -o -- '^[0-9]{9}'
        echo "::set-output name=ticket_id::595090142"
        echo "::warning file=changes.test,line=1,col=5::Duplicated Line Warning"
        echo "::warning ::Arbitrary warning"

    - name: Verify ticket number
      run: |
        echo ${{ steps.branch.outputs.ticket_id }}

    - name: Format deployment name
      id: deploymentName
      run: |
        echo "::set-output name=name::CWA-ticket-${{ steps.branch.outputs.ticket_id }}"

    # TODO: do deployment, using ${{ steps.deploymentName.outputs.name }}

    - name: Get app url 
      id: beanstalkURL
      run: |
        url=http://CWA-cold.eba-cwuqbgah.us-east-1.elasticbeanstalk.com
        # TODO: sample this on a real app run-through
        # url=http://$(eb status ${{ steps.deploymentName.outputs.name }} | grep CNAME | sed 's/.*CNAME: //')
        echo "::set-output name=url::${url}"
    - name: Get AWS:EB management console url
      id: ebmgmt
      run: |
        url="https://console.aws.amazon.com/elasticbeanstalk/home?region=us-east-1#/environment/dashboard?applicationName=CustomerWebApp&environmentId=e-3n7yurgyi2"
        echo "::set-output name=url::${url}"

        # TODO: sample this on a real app run-through
        # ebStatus="$(eb status)"
        # echo "$ebStatus"
        # region=$(echo "$ebStatus" | grep "Region" | sed 's/.*Region: //')
        # appName=$(echo "$ebStatus" | grep "Application Name" | sed 's/.*Application Name: //' )
        # envId=$(echo "$ebStatus" | grep "Environment ID" | sed 's/.*Environment ID: //')

        # url="https://console.aws.amazon.com/elasticbeanstalk/home?region=${region}#/environment/dashboard?applicationName=${appName}&environmentId=${envId}"
        # echo "::set-output name=url::${url}"


    # General Message Format Example:
        # Deployment Completed.
        # - app url: https://cwa-ticket-1234.eba-cwuqbgah.us-east-1.elasticbeanstalk.com/
        # - to terminate when review is done: 
        #   - cli: npm run deploy:terminate CWA-ticket-595090142
        #   - gha: go to github actions, and past-in the ticket # from monday.com
        # - guru doc on process: link to page + diagram or whatever for context
        # - monday.com ticket: https://autotiv.monday.com/boards/406613495/pulses/595090142

    - name: Format message for plaintext
      run: |
        cat > plaintext.txt << HERE
        Deployment Completed.
        - app url: ${{ steps.beanstalkURL.outputs.url }}
        - to terminate when review is done: 
          - cli: npm run deploy:terminate ${{ steps.deploymentName.outputs.name }}
          - gha: go to github actions, and paste-in the ticket-id from monday.com
        - guru doc on process: link to diagram or whatever for context
        - monday.com ticket: https://autotiv.monday.com/boards/${{ env.opsBoardNumber }}/pulses/${{steps.branch.outputs.ticket_id }}
        - eb-env mgmt: ${{ steps.ebmgmt.outputs.url }}
        HERE
    - name: Format message for Email
      run: |
        cat > email.txt << HERE
        <u><i>Deployment Completed.</i></u>
        <br>
          <ul>
          <li><b>app url:</b> ${{ steps.beanstalkURL.outputs.url }}</li>
          <li>to terminate when review is done:</li>
            <ul>
              <li><b>cli</b>: <code>npm run deploy:terminate CWA-ticket-${{ steps.branch.outputs.ticket_id }}</code></li>
              <li><b>gha</b>: go to github actions, and paste-in the ticket-id from monday.com</li>
            </ul>
          <li><b>guru doc</b> on process: link to diagram or whatever for context</li>
          <li><b>MDC ticket:</b> https://autotiv.monday.com/boards/${{ env.opsBoardNumber }}/pulses/${{ steps.branch.outputs.ticket_id }}</li>
          <li>eb-env mgmt: ${{ steps.ebmgmt.outputs.url }}</li>
          </ul>
        <br>
        HERE
    - name: Format message for GH-PR
      run: |
        cat > gh-pr.txt << HERE
        _Deployment Completed._ @${{env.codeReviewerGithubName}} @${{env.productManagerGithubName}}
        - **app url:** ${{ steps.beanstalkURL.outputs.url }}
        - to terminate when review is done: 
          - **cli:** \`npm run deploy:terminate ${{ steps.deploymentName.outputs.name }}\`
          - **gha:** go to github actions, and paste-in the ticket-id from monday.com
        - **guru doc** on process: link to diagram or whatever for context
        - **monday.com ticket:** https://autotiv.monday.com/boards/${{ env.opsBoardNumber }}/pulses/${{ steps.branch.outputs.ticket_id }}
        - **eb-env mgmt**: ${{ steps.ebmgmt.outputs.url }}
        HERE
      
    - name: Send mail 
      uses: dawidd6/action-send-mail@v2
      with:
        server_address: smtp.gmail.com
        server_port: 465
        # Key piece for configuring this email:
        # https://support.google.com/accounts/answer/6010255
        username: ${{secrets.MAIL_USERNAME}}
        password: ${{secrets.MAIL_PASSWORD}}
        subject: Github Actions job result
        # Literal body:
        # body: |
        #   Build job of ${{github.repository}} completed successfully!

        #   How you like them apples????
        body: file://email.txt
        # # Read file contents as body:
        # body: file://README.md
        to: ${{ env.codeReviewerEmail }},${{ env.productManagerEmail }}
        from: Build Jobber # <user@example.com>
        # Optional content type (defaults to text/plain):
        content_type: text/html
        # # Optional attachments:
        # attachments: attachments.zip,git.diff,./dist/static/main.js

    # This is slow, and less feature-rich (builds an entire docker container)
    # - name: Make PR comment
    #   uses: unsplash/comment-on-pr@master
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #   with:
    #     msg: "Check out this message!"
    #     check_for_duplicate_msg: false  # OPTIONAL 

    - name: Sticky Pull Request Comment
      # You may pin to the exact commit or the version.
      # uses: marocchino/sticky-pull-request-comment@6804b5ad49d19c10c9ae7cf5057352f7ff333f31
      uses: marocchino/sticky-pull-request-comment@v1.6.0
      with:
        # Header to determine if the comment is to be updated, not shown on screen
        header: # optional
        # Indicate if new comment messages should be appended to previous comment message
        append: # optional
        # Indicate if previous comment should be removed before creating a new comment
        recreate: # optional
        # comment message
        message: # optional
        # path to file containing comment message
        path: gh-pr.txt # optional
        # pull request number for push event
        number: # optional
        # delete the previously created comment
        delete: # optional
        # set secrets.GITHUB_TOKEN here
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


# Automatically set it to "awaiting both reviews"
# - name: Update Monday.com Status Action
#   # You may pin to the exact commit or the version.
#   # uses: willstenzel/update-monday-status-action@8b2ef95a480e59bda7e720172adaacc91d74cac2
#   uses: willstenzel/update-monday-status-action@v1.0
#   with:
#     # Monday.com API v2 Token
#     API_TOKEN: 
#     # Unique board identifier
#     BOARD_ID: 
#     # Column identifier
#     COLUMN_ID: # default is status
#     # Monday.com status when pull request has been submitted
#     submitted-status: 
#     # Monday.com status when pull request has been merged
#     merged-status: 
#     # Pull request body
#     pull-request-body: 
#     # True if the pull request has been merged, false if not
#     merged: 
