on: 
  schedule:
    - cron:  '* * * * *' # should disable when not in use
    # - cron:  '30 6 * * *'


jobs:
  openpr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Create commits
        run: |
          set -x
          git config user.name 'Doug Pagani' # this should be the maintainer
          git config user.email 'redstonefreedom@gmail.com'
          date +%s > report.txt
          git commit -am "Modify tracked file during workflow"
          date +%s > new-report.txt
          git add -A
          git commit -m "Add untracked file during workflow"
      - name: Uncommitted change
        run: date +%s > uncommitted.txt
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
      # - name:
      #   run: |
      #     echo ${{ env.KEY }}
          
      #     echo ${{ github.event.inputs.INPUTNAME }}
      #     echo ${{ secrets.AUTOTIV_REPO_KEY_BASE64 }}
      #     # echo "::set-output name=NAME::VAL"
      #     echo ${{ steps.STEPID.outputs.OUTPUTNAME }}
      # - name: Create Pull Request
      #   id: cpr
      #   uses: peter-evans/create-pull-request@v3
      # - name: Check outputs
      #   run: |
      #     echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
      #     echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
